.Menu {
    background-color: #222327;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
}

.Menu-Title {
    float: left;
    padding-left: 1.25rem;
    margin-top: 1rem;
    font-size: 32px;
}
.Project-Add-Button {
    float: right;
    position: relative;
    top: 1.8rem;
    background-color: rgba(255, 255, 255, 0.08);
    width: 28px;
    height: 28px;
    padding: 0;
    margin-right: 1.25rem;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
}


.Project-Name {
    float: left;
    display: block;
    margin-left: 1.25rem;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
}

.Project {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.Arrow-Button {
    opacity: 0.5;
    float: right;
    margin-top: 0.3rem;
    margin-right: 1.9rem;
    padding: 0.25rem;
    padding-left: 8px;
    padding-right: 8px;
}

.Rotate-Arrow {
    rotate: 90deg;
}

.Sub-Project-List {
    display: none;
    list-style-type: none;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgba(125, 125, 125, 0.5);
}

.Sub-Project-Name {
    color: lightgray;
    font-size: 16px;
    opacity: 80%;
    margin: 0;
}