.Projects {
    display: flex;
    justify-content: center;
    background-color: #2A2B2F;
    width: 100%;
}

.Projects-In {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
}

.Welcome {
    margin-top: 1rem;
    font-size: 20px;
    float: left;
}

.User-Info {
    margin-top: 1rem;
    padding-right: 1rem;
}

.User-Icons {
    float: right;
    margin-top: 1.4rem;
    padding-left: 1rem;
}

.User-Icon-Image {
    float: right;
    margin-top: 1rem;
    padding-left: 1rem;
}

.Date {
    float: right;
    padding-left: 0.4rem; 
    margin-top: 1.3rem;
    margin-bottom: 0;
}

.Views {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.Views-Text {
    text-align: center;
    padding-bottom: 2px;
    margin-bottom: -2px;
    width: 5rem;
    font-size: 18px;
}

.Views-Text-Selected {
    border-bottom: 2px solid white;
}

.Tasks {
    display: flex;
    flex-direction: row;
}

.Task-Category-Middle {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.Task-Category {
    display: flex;
    flex-direction: column;
    background-color: #24262C;
    border-radius: 1rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
}

.Task-Category-Header {
    display: block;
    margin-top: 0.5rem;
}

.Task-Category-Text {
    float: left;
    margin-top: 0;
    margin-left: 1rem;
    font-size: 12px;
    opacity: 50%;
}

.Task-Add-Button {
    background-color: rgba(255, 255, 255, 0.1);
    float: right;
    padding: 0;
    margin-right: 0.2rem;
    border-radius: 5rem;
    width: 18px;
    height: 18px;
}

.Task-Add-Button-Text {
    float: right;
    font-size: 10px;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    padding: 0;
}

.Task {
    background-color: #292B31;
    align-self: center;
    list-style-type: none;
    border-radius: 0.7rem;
    width: 93%;
    height: 11rem;
    margin-bottom: 1rem;
}