.Sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1D22;
    min-width: 5.625rem;
}

.My-Logo{
    margin-top: 1.25rem;
}

.Options{
    background-color: #2E3247;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 50px;
}

.Icon{
    margin: 0.7rem;
    padding: 0.35rem;
}

.Logout{
    margin-top: auto;
    padding-bottom: 2rem;
}